h1{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
    .title {
    font-size: 45px;
    color: brown;
}
    .text{
    font-size: 25px;
    color: blue;
    }


a {
    text-decoration: none;
    }

.links {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.button {
    padding: 10px;
    font-size: 14px;
    border: 3px dotted red;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}
.button:hover {
    background-color: orange;
}

.button:active{
    background-color: blue;
}

.button:visited{
    background-color: red;
}